.modal_hidden {
  visibility: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* 이벤트 버블링을 막기위해서 (자식에서 부모의 이벤트까지 추가됨) */
/* 이벤트 캡처링은 부모에서 자식으로 전파되는 것 */
/* 버블링을 막기위해서는 부모 자식관계말고 형제로 인식이 되어야 함 */
.modal_overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  background-color: white;
}
